#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pie-chart {
    display: block;
    margin: auto;
}

#legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#legend div {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#project-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#project-list li {
    padding: 5px;
    font-size: 16px;
}

